*{
    font-family: "JetBrains Mono";
    text-align: center;
}
body {
    background: linear-gradient(135deg, #89CFF0, #FF69B4);
    height: 100vh; /* Damit der Gradient den gesamten Bildschirm abdeckt */
    margin: 0; /* Entfernt den Standardseitenabstand */
    display: flex;
    justify-content: center;
    color: white;
    cursor: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKe0WIn0WEkbVCAiAqb1lInFdNI-MYcWLNTg&s'), auto;
}

#farbblock{
    max-width: 200px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    margin: auto; 
}
form{
    align-items: center;
}
input, button{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: solid rgb(225, 152, 213) 5px;
    font-size: 15px;
}
#name{
    position: absolute;
    bottom:0;
    right:0;
    margin: 20px;
    font-size: 20px;
}